* {
  font-family: 'Gudea', Helvetica, sans-serif !important;
}

.ui-page {
  background-color: #fff;
  background-image: url('../img/background.png');
  background-size: 619px 645px;
  /*background-size: 482px 568px;*/
  background-repeat: no-repeat;
  background-position: bottom right;
   -webkit-backface-visibility: hidden;  /* without this, Android pages may flicker after slide transitions */
}

/*
@media (min-width:640px), (min-height:740px) {
  .ui-page {
    background-size: 619px 645px;
  }
}
*/

.ui-bar-c {
  text-shadow: #000 0 1px 1px;
}

.ui-body-c {
  text-shadow: none;
  font-weight: normal;
}

.unknown_block {
  padding: 25px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  min-height: 60px;
  padding-top: 30px;
  color: #fff;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: bottom right;
  cursor: pointer;
}

.unknown_block a.ui-link,
.unknown_block a.ui-link:hover,
.unknown_block a.ui-link:visited,
.home_block a.ui-link,
.home_block a.ui-link:hover,
.home_block a.ui-link:visited {
  color: #fff;
  text-decoration: none;
}

.unknown_block_first {
  background-color: #70a4d8;
  border-color: #4064a6;
  background-image: url('../img/blue-next-arrow.png');
  margin-top: 9px;
}

.unknown_block_second {
  background-color: #ff3d3d;
  border-color: #d40909;
  background-image: url('../img/red-check.png');
}

#homePage .ui-grid-a {
  font-size: 1.1em;
}

.ui-grid-a .home_block {
  text-align: center;
  margin-top: 3%;
  margin-left: 1%;
  width:46%;
  height:120px;
  line-height: 114px;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  border-width: 3px;
  border-style: solid;
}

@media (min-width:400px) {
  .ui-grid-a .home_block {
    height:180px;
    line-height: 173px;
    font-size: 1.1em;
    border-radius: 8px;
  }
  .ui-btn-text h3, .ui-btn-text p {
    font-size: 1.1em;
  }
}

@media (min-width:500px) {
  .ui-grid-a .home_block {
    height:220px;
    line-height: 211px;
    font-size: 1.2em;
    border-radius: 10px;
  }
  .ui-btn-text h3, .ui-btn-text p {
    font-size: 1.2em;
  }
}

@media (min-width:600px) {
  .ui-grid-a .home_block {
    height:240px;
    line-height: 232px;
    font-size: 1.3em;
    border-radius: 12px;
  }
  .ui-btn-text h3, .ui-btn-text p {
    font-size: 1.3em;
  }
}

.ui-header {
  color: #fff;
  border-color: transparent;
}

.ui-grid-a .home_block_bottom_left, .ui-grid-a .home_block_bottom_right {
  margin-top: 5%;
}

.home_block_top_left, #peoplePage .ui-header, #personPage .ui-header {
  border-color: #1e69de;
  background: #6db3f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
}

.ui-grid-a .home_block_top_right, .ui-grid-a .home_block_bottom_right {
  margin-left: 6%;
  /*margin-right: 1%;*/
}

.ui-grid-a .home_block_top_right, #newsPage .ui-header {
  border-color: #9ecb2d;
  background: #bfd255; /* Old browsers */
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.ui-grid-a .home_block_bottom_left, #settingsPage .ui-header {
  border-color: #ff7f04;
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ff7c00), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
}

.ui-grid-a .home_block_bottom_right, #loginPage .ui-header {
  border-color: #e73827;
  background: #f85032; /* Old browsers */
  background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */
}

/* visual feedback when activating a button */
.ui-grid-a div:active {
  opacity: 0.75;
}

input::-webkit-input-placeholder {
  color: #bbb;
}

.ui-content .ui-listview-inset {
  margin-bottom: 20px;
  margin-left: 1%;
  margin-right: 1%;
}

#indexHeader {
  border: 1px solid #000;
  /*margin-bottom: 12px;*/
  background: #eeeeee; /* Old browsers */
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

#pasfoto {
  max-height: 82px;
  max-width: 82px;
}

.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
  background-color: #000;
}

#popupPanel-popup {
  right: 0 !important;
  left: auto !important;
}

#popupPanel {
  width: 200px;
  border: 1px solid #000;
  border-right: none;
  background: rgba(0,0,0,.5);
  margin: -1px 0;
}

#popupPanel .ui-btn {
  margin: 2em 15px;
}

.ui-page > div {
  -webkit-transform: translateZ(0);
}

.has-count {
  padding-left: 26px;
}

.ui-li-count {
  background: -moz-linear-gradient(center top , #DE939E, #A40717) repeat scroll 0 0 padding-box transparent;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.14, #A40717),
    color-stop(0.57, #A40717),
  	color-stop(0.79, #DE939E)
  );
  border-radius: 14px;
  border: 2px solid white;
  color: #FFFFFF;
  padding: 2px 6px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  font: 12px Arial;
  font-weight: normal !important;
  position: relative;
  float: right;
  top: 10%;
  right: 10%;
  z-index: 9999;
}

.ui-li-count-green {
  background: -moz-linear-gradient(center top , lightgreen, darkgreen) repeat scroll 0 0 padding-box transparent;
  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.14, darkgreen),
    color-stop(0.57, darkgreen),
  	color-stop(0.79, lightgreen)
  );
}

#homePage .ui-li-has-count {
  padding-right: 70px;
}

#personPage .ui-content {
  padding: 0;
}

#personPage .ui-content fieldset {
  padding: 10px;
  margin: 0;
}

#personPage .ui-content fieldset.person-image-and-name {
  padding-bottom: 0;
  background-color: #add8e6;
  border-bottom: 8px solid #fff;
}

#personPage .ui-content fieldset.person-contact {
  background-color: #fff9df;
}

#personPage .person-image {
  float: left;
  margin-right: 20px;
}

#personPage .person-name {
  float: left;
}

#personPage .person-name h2 {
  margin-top: 10px;
  font-size: 1.1em;
}

#personPage .person-name p {
  font-size: 0.9em;
}

#personPage #skillList li {
  height: 48px;
  min-height: inherit;
  padding-top: 0;
  padding-bottom: 0;
}

.ui-collapsible-heading {
  margin: 0;
}

#personPage .ui-collapsible-content{
  padding-left: 26px;
  padding-right: 26px;
}

#personPage .ui-collapsible-content h3{
  margin-top: 2px;
}

#personPage .ui-li-thumb {
  padding-left: 15px;
}

.ui-li-desc {
  white-space: normal;
  font-size: 13px;
}

.ui-header .ui-controlgroup {
  margin: 0;
}

.ui-header .ui-controlgroup .ui-btn-icon-notext .ui-btn-inner {
  height: 14px;
  width: 12px;
  padding: 0.6em 16px;
}